<div class="page-header services-header">
  <h1><i class="fa fa-paw" aria-hidden="true"></i></h1>
  <h1>Our Services</h1>
  <h3>WORLD CLASS GROOMING AND BOARDING</h3>
</div>

<div class="services-body">
  <div class="service service-bathing">
    <img class="pull-left" src="../../assets/bathing.jpg" height="300" width="400"/>
    <h1>Bathing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
    <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
  </div>
  <hr />

  <div class="service service-bathing">
    <img class="pull-right" src="../../assets/grooming.jpg" height="300" width="400"/>
    <h1>Grooming</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
    <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
  </div>
  <hr />


  <div class="service service-bathing">
    <img class="pull-left" src="../../assets/boarding.jpg" height="300" width="400"/>
    <h1>Boarding</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
    <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
  </div>

</div>

